
@{
    ViewBag.Title = "Index";
}

<h2>Welcome to our Shop.</h2>
<form action="/Shop/Checkout" method="POST">
    @*<div>
        <label for="size">Size:</label>
    </div>
    <div>
        <input type="radio" id="s" name="size" value="S" />
        <label for="s">Small</label>
    </div>
    <div>
        <input type="radio" id="m" name="size" value="M" />
        <label for="m">Medium</label>
    </div>
    <div>
        <input type="radio" id="l" name="size" value="L" />
        <label for="l">Large</label>
    </div>
    <div>
        <lable for="color">Color:</lable>
    </div>
    <div>
        <input type="radio" id="red" name="color" value="Red" />
        <label for="red">Red</label>
    </div>
    <div>
        <input type="radio" id="blue" name="color" value="Blue" />
        <label for="blue">Blue</label>
    </div>
    <div>
        <input type="radio" id="black" name="color" value="Black" />
        <label for="black">Black</label>
    </div>*@
    <label for="number">number:</label>
    <input type="number" id="number" name="number" />
    <input type="submit" value="Order Now" />
</form>

